<a href="https://colab.research.google.com/github/AkhilArradi/IBM-Capstone/blob/master/Segmenting_and_Clustering_Neighborhoods_in_Toronto-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import lxml.html as lh
import pandas as pd
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

page = requests.get(url)

doc = lh.fromstring(page.content)

tr_elements = doc.xpath('//tr')

In [126]:
tr_elements = doc.xpath('//tr')
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postal Code
"
2:"Borough
"
3:"Neighborhood
"

In [ ]:
col

[('Postal Code\n', []), ('Borough\n', []), ('Neighborhood\n', [])]

In [127]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [128]:
[len(C for (title,C) in col)]

TypeError: ignored

In [129]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [130]:
df

    Postal Code\n  ...                                     Neighborhood\n
0           M1A\n  ...                                     Not assigned\n
1           M2A\n  ...                                     Not assigned\n
2           M3A\n  ...                                        Parkwoods\n
3           M4A\n  ...                                 Victoria Village\n
4           M5A\n  ...                        Regent Park, Harbourfront\n
..            ...  ...                                                ...
176         M6Z\n  ...                                     Not assigned\n
177         M7Z\n  ...                                     Not assigned\n
178         M8Z\n  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z\n  ...                                     Not assigned\n
180            \n  ...                                                 \n

[181 rows x 3 columns]

In [131]:
df.head()

  Postal Code\n           Borough\n               Neighborhood\n
0         M1A\n      Not assigned\n               Not assigned\n
1         M2A\n      Not assigned\n               Not assigned\n
2         M3A\n        North York\n                  Parkwoods\n
3         M4A\n        North York\n           Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [132]:
df.head(10)

  Postal Code\n  ...                                 Neighborhood\n
0         M1A\n  ...                                 Not assigned\n
1         M2A\n  ...                                 Not assigned\n
2         M3A\n  ...                                    Parkwoods\n
3         M4A\n  ...                             Victoria Village\n
4         M5A\n  ...                    Regent Park, Harbourfront\n
5         M6A\n  ...             Lawrence Manor, Lawrence Heights\n
6         M7A\n  ...  Queen's Park, Ontario Provincial Government\n
7         M8A\n  ...                                 Not assigned\n
8         M9A\n  ...      Islington Avenue, Humber Valley Village\n
9         M1B\n  ...                               Malvern, Rouge\n

[10 rows x 3 columns]

In [133]:
df = df.replace('\n',' ', regex=True)

df.columns = ['Postcode', 'Borough','Neighbourhood']
df.head()

  Postcode            Borough               Neighbourhood
0     M1A       Not assigned                Not assigned
1     M2A       Not assigned                Not assigned
2     M3A         North York                   Parkwoods
3     M4A         North York            Victoria Village
4     M5A   Downtown Toronto   Regent Park, Harbourfront

In [134]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postcode            Borough               Neighbourhood
0     M1A       Not assigned                Not assigned
1     M2A       Not assigned                Not assigned
2     M3A         North York                   Parkwoods
3     M4A         North York            Victoria Village
4     M5A   Downtown Toronto   Regent Park, Harbourfront

In [135]:
df['Borough'] = df['Borough'].str.strip()
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(10)

  Postcode           Borough                                 Neighbourhood
0     M3A         North York                                    Parkwoods
1     M4A         North York                             Victoria Village
2     M5A   Downtown Toronto                    Regent Park, Harbourfront
3     M6A         North York             Lawrence Manor, Lawrence Heights
4     M7A   Downtown Toronto  Queen's Park, Ontario Provincial Government
5     M9A          Etobicoke      Islington Avenue, Humber Valley Village
6     M1B        Scarborough                               Malvern, Rouge
7     M3B         North York                                    Don Mills
8     M4B          East York              Parkview Hill, Woodbine Gardens
9     M5B   Downtown Toronto                     Garden District, Ryerson

In [137]:
df.shape

(104, 3)

In [145]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()
for i in df['Neighbourhood']:
  print(i)

Parkwoods
Victoria Village
Regent Park, Harbourfront
Lawrence Manor, Lawrence Heights
Queen's Park, Ontario Provincial Government
Islington Avenue, Humber Valley Village
Malvern, Rouge
Don Mills
Parkview Hill, Woodbine Gardens
Garden District, Ryerson
Glencairn
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
Rouge Hill, Port Union, Highland Creek
Don Mills
Woodbine Heights
St. James Town
Humewood-Cedarvale
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
Guildwood, Morningside, West Hill
The Beaches
Berczy Park
Caledonia-Fairbanks
Woburn
Leaside
Central Bay Street
Christie
Cedarbrae
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Thorncliffe Park
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Scarborough Village
Fairview, Henry Farm, Oriole
Northwood Park, York University
East Toronto, Broadview North (Old East York)
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
Kennedy Park, Ionview, East Birchmount Park
Bayview Village
Downsview
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
Golden Mile, Clairlea, Oakridge
York Mills, Silver Hills
Downsview
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Cliffside, Cliffcrest, Scarborough Village West
Willowdale, Newtonbrook
Downsview
Studio District
Bedford Park, Lawrence Manor East
Del Ray, Mount Dennis, Keelsdale and Silverthorn
Humberlea, Emery
Birch Cliff, Cliffside West
Willowdale, Willowdale East
Downsview
Lawrence Park
Roselawn
Runnymede, The Junction North
Weston
Dorset Park, Wexford Heights, Scarborough Town Centre
York Mills West
Davisville North
Forest Hill North & West, Forest Hill Road Park
High Park, The Junction South
Westmount
Wexford, Maryvale
Willowdale, Willowdale West
North Toronto West,  Lawrence Park
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Canada Post Gateway Processing Centre
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
Agincourt
Davisville
University of Toronto, Harbord
Runnymede, Swansea
Clarks Corners, Tam O'Shanter, Sullivan
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Milliken, Agincourt North, Steeles East, L'Amoreaux East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
New Toronto, Mimico South, Humber Bay Shores
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
Steeles West, L'Amoreaux West
Rosedale
Stn A PO Boxes
Alderwood, Long Branch
Northwest, West Humber - Clairville
Upper Rouge
St. James Town, Cabbagetown
First Canadian Place, Underground city
The Kingsway, Montgomery Road, Old Mill North
Church and Wellesley
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [143]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']
df.head(10)

  Postcode           Borough                                Neighbourhood
0     M3A         North York                                    Parkwoods
1     M4A         North York                             Victoria Village
2     M5A   Downtown Toronto                    Regent Park, Harbourfront
3     M6A         North York             Lawrence Manor, Lawrence Heights
4     M7A   Downtown Toronto  Queen's Park, Ontario Provincial Government
5     M9A          Etobicoke      Islington Avenue, Humber Valley Village
6     M1B        Scarborough                               Malvern, Rouge
7     M3B         North York                                    Don Mills
8     M4B          East York              Parkview Hill, Woodbine Gardens
9     M5B   Downtown Toronto                     Garden District, Ryerson

In [151]:
for i in df['Borough']:
  print(i)

North York
North York
Downtown Toronto
North York
Downtown Toronto
Etobicoke
Scarborough
North York
East York
Downtown Toronto
North York
Etobicoke
Scarborough
North York
East York
Downtown Toronto
York
Etobicoke
Scarborough
East Toronto
Downtown Toronto
York
Scarborough
East York
Downtown Toronto
Downtown Toronto
Scarborough
North York
North York
East York
Downtown Toronto
West Toronto
Scarborough
North York
North York
East York
Downtown Toronto
West Toronto
Scarborough
North York
North York
East Toronto
Downtown Toronto
West Toronto
Scarborough
North York
North York
East Toronto
Downtown Toronto
North York
North York
Scarborough
North York
North York
East Toronto
North York
York
North York
Scarborough
North York
North York
Central Toronto
Central Toronto
York
York
Scarborough
North York
Central Toronto
Central Toronto
West Toronto
Etobicoke
Scarborough
North York
Central Toronto
Central Toronto
West Toronto
Mississauga
Etobicoke
Scarborough
Central Toronto
Downtown Toronto
West Toronto
Scarborough
Central Toronto
Downtown Toronto
Scarborough
Central Toronto
Downtown Toronto
Etobicoke
Etobicoke
Scarborough
Downtown Toronto
Downtown Toronto
Etobicoke
Etobicoke
Scarborough
Downtown Toronto
Downtown Toronto
Etobicoke
Downtown Toronto
East Toronto
Etobicoke
Etobicoke
Canadian postal codes

In [153]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']
for i in df['Neighbourhood']:
  print(i)

Parkwoods
Victoria Village
Regent Park, Harbourfront
Lawrence Manor, Lawrence Heights
Queen's Park, Ontario Provincial Government
Islington Avenue, Humber Valley Village
Malvern, Rouge
Don Mills
Parkview Hill, Woodbine Gardens
Garden District, Ryerson
Glencairn
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
Rouge Hill, Port Union, Highland Creek
Don Mills
Woodbine Heights
St. James Town
Humewood-Cedarvale
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
Guildwood, Morningside, West Hill
The Beaches
Berczy Park
Caledonia-Fairbanks
Woburn
Leaside
Central Bay Street
Christie
Cedarbrae
Hillcrest Village
Bathurst Manor, Wilson Heights, Downsview North
Thorncliffe Park
Richmond, Adelaide, King
Dufferin, Dovercourt Village
Scarborough Village
Fairview, Henry Farm, Oriole
Northwood Park, York University
East Toronto, Broadview North (Old East York)
Harbourfront East, Union Station, Toronto Islands
Little Portugal, Trinity
Kennedy Park, Ionview, East Birchmount Park
Bayview Village
Downsview
The Danforth West, Riverdale
Toronto Dominion Centre, Design Exchange
Brockton, Parkdale Village, Exhibition Place
Golden Mile, Clairlea, Oakridge
York Mills, Silver Hills
Downsview
India Bazaar, The Beaches West
Commerce Court, Victoria Hotel
North Park, Maple Leaf Park, Upwood Park
Humber Summit
Cliffside, Cliffcrest, Scarborough Village West
Willowdale, Newtonbrook
Downsview
Studio District
Bedford Park, Lawrence Manor East
Del Ray, Mount Dennis, Keelsdale and Silverthorn
Humberlea, Emery
Birch Cliff, Cliffside West
Willowdale, Willowdale East
Downsview
Lawrence Park
Roselawn
Runnymede, The Junction North
Weston
Dorset Park, Wexford Heights, Scarborough Town Centre
York Mills West
Davisville North
Forest Hill North & West, Forest Hill Road Park
High Park, The Junction South
Westmount
Wexford, Maryvale
Willowdale, Willowdale West
North Toronto West,  Lawrence Park
The Annex, North Midtown, Yorkville
Parkdale, Roncesvalles
Canada Post Gateway Processing Centre
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
Agincourt
Davisville
University of Toronto, Harbord
Runnymede, Swansea
Clarks Corners, Tam O'Shanter, Sullivan
Moore Park, Summerhill East
Kensington Market, Chinatown, Grange Park
Milliken, Agincourt North, Steeles East, L'Amoreaux East
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
New Toronto, Mimico South, Humber Bay Shores
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
Steeles West, L'Amoreaux West
Rosedale
Stn A PO Boxes
Alderwood, Long Branch
Northwest, West Humber - Clairville
Upper Rouge
St. James Town, Cabbagetown
First Canadian Place, Underground city
The Kingsway, Montgomery Road, Old Mill North
Church and Wellesley
Business reply mail Processing Centre, South Central Letter Processing Plant Toronto
Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West

In [154]:
df.shape

(104, 3)

In [156]:
df.to_csv(r'df_canada.csv')